* {
	width: 100%;
	margin: auto;
}

ul li a {
	text-decoration: none;
	color: black;
}

li i {
	padding-right: 8px;
}

#notice {
	height: 30px;
	background-color: #A0C3D9;
	text-align: center;
	line-height: 30px;
}

#header {
	height: 220px;
	background-color: #F2C4D0;
	position: relative;
}

#inner, #category {
	height: auto;
	width: 60%;
}

#logo {
	height: 150px;
	width: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;
}

p {
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 20px;
}

#log {
	color: #8C5866;
	width: 250px;
	float: right;
	padding-top: 10px;
}

#log ul {
	list-style-type: none;
	text-align: right;
}

#log ul li {
	display: inline;
	padding: 0px 9px;
	font-size: 17px;
	font-weight: bold;
}

#log ul li:first-child, #log ul li:nth-child(2) {
	border-right: 1px solid #8C5866;
}

#category {
	padding: 10px 0px;
	font-size: 20px;
	text-align: center;
}

#category ul {
	list-style-type: none;
	text-align: center;
}

#category > ul > li {
	display: inline;
	padding: 0px 10px;
	font-size: 20px;
	position: relative;
}

#category > ul > li:first-child {
	background: #A0C3D9;
	padding:10px;
	text-align: center;
}

#category > ul > li:first-child i {
	padding-left: 7px;
}

.detail {
	display: none;
	width: 100px;
	padding: 5px 0;
	position: absolute;
	/*border: 1px solid #8C5866;*/
	background-color: #ffffff;
	list-style-type: none;
	left: 0;
	right: 0;
	text-align: center;
}

.detail li {
	display: block;
	padding: 5px 0;
}

#category li:hover .detail {
	display: block;
}


#category-all ul > li {
	padding: 10px 0;
	margin: 0 10px;
	font-size: 20px;
	position: relative;
}

#category-all ul li ul {
	/*display: none;*/
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff;
}

#category-all ul li:hover ul {
	display: block;
}

#category-all ul li ul li {
	display: inline;
	margin-right: 10px;
}