/***************************************
		common
***************************************/
* {
	margin: auto;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

li i {
	padding-right: 8px;
}

#header {
	height: 220px;
	background-color: #F2C4D0;
	position: relative;
}

.inner {
	width: 60%;
	margin: 0 auto;
}

/***************************************
		notice
***************************************/
#notice {
	height: 30px;
	background-color: #A0C3D9;
	text-align: center;
	line-height: 30px;
}

/***************************************
		main
***************************************/
#main {
	height: 190px;
}

#log {
	width: 250px;
	float: right;
	padding-top: 10px;
}

#log a {
	color: #8C5866;
}

#log > ul {
	text-align: right;
}

#log > ul > li {
	display: inline;
	padding: 0px 9px;
	font-weight: bold;
}

#log ul li:first-child, #log ul li:nth-child(2) {
	border-right: 1px solid #8C5866;
}

#logo {
	height: 150px;
	width: 150px;
	position: relative;
	top: 24px;
}

#logo img {
	height: 150px;
	width: 150px;
}

#main p {
	font-size: 55px;
	font-weight: bold;
	text-align: center;
	position: relative;
	bottom: 50px;
}

/***************************************
		category
***************************************/
#categoryDiv {
	text-align: center;
	height: 50px;
}

#categoryDiv #categoryUl {
	display: flex;
	justify-content: center;
}

#categoryUl > li {
	width: calc(100% / 12);
	display: inline-block;
	line-height: 30px;
	padding: 10px 0;
}

#categoryUl > li a {
	font-size: 20px;
}

#categoryUl > li:first-child {
	width: 30px;
}

#categoryUl > li:last-child {
	margin-left: 15px;
	width: 100px;
}

.sub-category {
	display: none;
	width: 100px;
	z-index: 1;
	position: absolute;
	border: 1px solid #F2C4D0;
	background: #ffffff;
	border-radius: 0px 0px 7px 7px;
	margin-top: 10px;
}

#categoryDiv #categoryUl li:last-child .sub-category {
	position: relative;
	left: 23px;
	padding-left: 10px;
	text-align: left;
}

#categoryUl > li:hover .sub-category {
	display: block;
}


/***************************************
		category-all
***************************************/
#category-all {
	display: none;
	width: 60%;
	position: relative;
	z-index: 100;
	top: 242px;
	/*left: 50%;*/
	transform: translateX(0%);
	border: 1px solid #F2C4D0;
	border-radius: 0px 0px 7px 7px;
	background: rgba(255, 255, 255);
}

#category-all > ul > li {
	display: block;
	padding: 20px 0 5px 33px;
	position: relative;
}

#category-all > ul > li:last-child {
	padding-bottom: 20px;
}

#category-all > ul > li > a {
	font-size: 20px;
	font-weight: 600;
}

#category-all ul ul {
	display: flex;
	position: absolute;
	bottom: 4px;
	left: 150px;
	width: 85%;
}

#category-all ul ul li {
	display: inline-block;
	width: 100px;
}

#category-all > ul > li:last-child li {
	padding-bottom: 15px;
}


hr {
	/*position: absolute;
	top: 271px;*/
	border: 1px solid #F2C4D0;
	z-index: 999;
}